.DS_Store
.idea
.vscode/settings.json
.cursor/
.spec-workflow
/dist
/docs
/node_modules
/out
/out/*
/*.local
/*.local.*
/components.d.ts
npm-debug.log*
.pnpm-debug.log*
.pnpm-error.log*
pnpm-lock.yaml
yarn-error.log
yarn.lock
debug.log
src/renderer/src/assets/backgroup/custom/custom_bg.jpg
# Encrypted storage related files
temp-storage/
.chaterm-encryption/
*.enc
kms_*
session_*
# test
tests/screenshots
tests/videos
tests/playwright-report
tests/test-results
tests/data/
test_data/
coverage/
.Trae/
.worktrees/
nul
